.hello {
    padding: 10px 20px;
    display: inline;
    margin: 0 5%;
}
.notHidden {
    display: block;
}

.correct {
    background-color: green;

}

.wrong {
    background-color: red;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}